.Column {
  display: inline-block;
  float: none;
  height: 60vh;
  .panel {
    height: 100%;
  }
  .col-toolbar {
    a {
      color: white;
      font-size: 21px;
      font-weight: 700;
      &:not(:last-child) {
      margin-right: 10px;
      }
      &:hover {
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}